/*///////////////////  wishlist  ////////////////////*/
p.wish-p {
	margin-bottom: 0 !important;	
}
.wish-remove {
	color: #484848;
	float: right;
	margin-top: 10px;
	font-size: 14px;
	opacity: 0.6;
}
.wish-not {
	color: #ED2C1A;
}